{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "classes": true,
        "defaultParams": true,
        "destructuring": true,
        "forOf": true,
        "generators": true,
        "modules": true,
        "spread": true,
        "templateStrings": true
    },
    "rules": {
        "eqeqeq": 2,
        "space-before-blocks": 2,
        "keyword-spacing": 2,
        "brace-style": 2,
        "eol-last": 2,
        "no-whitespace-before-property": 2,
        "space-in-parens": 2,
        "array-bracket-spacing": 2
    }
}
