[user]
	email = 10249884+el-ethan@users.noreply.github.com
	name = Ethan Skinner
[push]
	default = simple
[color]
	ui = true

# Gary Bernhardt cargo cult
[color "diff-highlight"]
	oldNormal = red
	oldHighlight = red "#500000"
	newNormal = green
	newHighlight = green "#003000"
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red
	new = green
	whitespace = "#ffff00" reverse
[alias]
	st = status
   	co = checkout
	dc = diff --find-copies-harder --cached
	logg = "log --graph --decorate --oneline --abbrev-commit --all"
	br = "branch --sort=committerdate"
[merge]
	tool = diffmerge
[pull]
	ff = only
[pager]
	branch = false
